{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Rob Ó Ceallaigh</title>
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body">
                    <img src="{% static 'images/profile_picture.jpeg' %}" alt="">
                    <hr>
                    <h4>My name is Rob and I'm a Junior Full Stack Web Developer.</h4>
                    <p>I'm a self motivated and creative person, so I decided to change my career and move into an area that I'm passionate about and allows me to utilise my creativity. I decided to take the initiative and retrained in Full Stack Web Development with Code Institute.</p>
                    <br>
                    <p>I am skilled in HTML, JavaScript, CSS, Python, Flask, Django Github, Heroku and more. Since I have completed my study I am keeping my skills up to date with personal projects and building my programming knowledge and experience. I'm also currently getting certified in Node.js, React, SQLite.</p>
                    <br>
                    <p>I'm also an experienced professional with a demonstrated history of working in the consumer electronics industry. I have extensive Troubleshooting and Customer Experience skills acquired from time with Apple.</p>
                    <br>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
    </div>
    
</body>
</html>