{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Rob Ó Ceallaigh</title>
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/profile_picture.jpeg' %}" alt="">
                    <hr>
                    <h4>Rob Ó Ceallaigh</h4>
                    <p>Junior Web Developer | Frontend Developer</p>
                    <br>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>About Me...</h4>
                    <hr>
                    <p>I'm a self motivated and creative person, so I decided to change my career and move into an area that I'm passionate about and allows me to utilise my creativity. I decided to take the initiative and retrained in Full Stack Web Development with Code Institute.</p>
                    <br>
                    <p>I am skilled in HTML, JavaScript, CSS, Python, Flask, Django Github, Heroku and more. Since I have completed my study I am keeping my skills up to date with personal projects and building my programming knowledge and experience. I'm also currently getting certified in Node.js, React, SQLite.</p>
                    <br>
                    <p>I'm also an experienced professional with a demonstrated history of working in the consumer electronics industry. I have extensive Troubleshooting and Customer Experience skills acquired from time with Apple.</p>
                    <br>
                    <ul class="social-links">
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/github.png' %}"></li>
						<li><img class="social" src="{% static 'images/instagram.png' %}"></li>
					</ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100 border-info">
                    <h5>Education</h5>
					<hr>
                    <h5>Code Institute</h5>
                    <br>
					<p>Full Stack Web Development</p>
                    <p>2019 - 2020</p>
                    <hr>
                    <h5>Dundalk Institute of Technology</h5>
                    <br>
					<p>Digital Marketing & Digital Media Management</p>
                    <p>2014 - 2015</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100 border-info">
                    <h5>Skills</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript/Jquery, React, Node.js and APIs such as google maps, JavaScript charts and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>Also currently working on Flask, MYSQL, Mongo DB and also Agile scrum project management.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100 border-info">
                    <h5>How I Learn</h5>
					<hr>
					<p>Inspect and Reverse Engineer to allow to build from the ground up.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100 border-info">
                    <h5>My Short Term Goals</h5>
                    <hr>
                    <p>At the moment I am working on small projects, open for collaborations and trying to increase my skills every day.</p>
                    <p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
    
</body>
</html>