{% load static %}

<!---
<h3>Hello World!!!</h3>


<img src="{% static 'images/profile_picture.jpeg' %}" alt="">

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Rob Ó Ceallaigh</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-9">
                <div class="card card-body"></div>
            </div>
        </div>
    </div>
    
</body>
</html>